.table {
    width: 100%;
    border-collapse: collapse;
    thead {
        tr {
            th {
                padding: 8px 0px;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 12px;
                text-align: left;
            }
        }        
    }
    tbody {
        tr {
            td {
                text-align: left;
                padding: 8px 0px;
                font-weight: 400;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.16);
                padding-right: 8px;
                strong {
                    font-weight: 600;
                }
            }
            &:last-of-type {
                td {
                    border-bottom: none;
                }
            }
        }
    }
}