<form [formGroup]="recoverPasswordForm">
    <div>
        <div class="input-login-container">
            <input
                type="text"
                placeholder="Correo electrónico"
                formControlName="email"
                [class.danger]="recoverPasswordForm.controls['email'].touched && !recoverPasswordForm.controls['email'].valid"
                [class.success]="recoverPasswordForm.controls['email'].touched && recoverPasswordForm.controls['email'].valid">
            <errors *ngIf="recoverPasswordForm.controls['email'].hasError('email') && recoverPasswordForm.controls['email'].touched" message="Ingrese un correo electrónico válido"></errors>
            <errors *ngIf="recoverPasswordForm.controls['email'].hasError('required') && recoverPasswordForm.controls['email'].touched" message="Este campo es necesario"></errors>
            <label>Correo electrónico</label>
        </div>
    </div>
    <div class="btn-container">
        <button type="button" class="btn primary big" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.16)'" [disabled]="!recoverPasswordForm.valid">Solicitar</button>
    </div>
</form>