@import 'src/assets/scss/inputs';
@import 'src/assets/scss/buttons';

form {
    width: 100%;
    display: block;
    > div {
        margin-bottom: 24px;
        &:last-of-type {
            margin-bottom: 0px;
        }
        &.btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}